<div id="content">
  <div class="inner">
    <div class="text">
    <%= render 'post' %>

  <% if BlogPost.comments_allowed? %>
    <div id="comments">
      <h3 id="comments-title">
        <% if BlogPost.comments_allowed? %>
        <% if @blog_post.comments.any? %>
           (<%= pluralize(@blog_post.comments.approved.count, t('blog.shared.comments.singular')) %>)
        <% else %>
              (<%= t('blog.shared.comments.none') %>)
        <% end %>
      <% end %>
      </h3>
      <% if (comments = @blog_post.comments.approved).any? %>
        <ol class="commentlist">
          <%= render :partial => "comment", :collection => comments %>
        </ol>
      <% else %>
        <p><%= t('blog.shared.comments.none') %>.</p>
      <% end %>

      <% flash.each do |key, value| %>
        <div id='flash' class="flash flash_<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <div id="respond">
      <h3 id="reply-title">Leave a Reply</h3>
      <%= form_for [:blog_post, @blog_comment], :html => {:id => 'commentform'} do |f| %>
        <%= render :partial => "/shared/admin/error_messages",
                   :locals => {
                     :object => f.object,
                     :include_object_name => true
                   } %>
       <p class="comment-form-comment">
			    <label for="comment">Comment
			    <img class="comment-avatar" alt="avatar" src="/images/noavatar.png" style="opacity: 1; "></label>
			    <%= f.text_area :message, :rows => 8, :cols => 45, :id => "comment" %>
				</p>
        <p class="comment-form-author">
				  <label for="author">Name</label> 
				  <%= f.text_field :name, :id => "author", :size => 30 %>
				</p>
        <p class="comment-form-email">
				  <label for="email">Email</label> 
          <%= f.email_field :email, :size => 30, :id => 'email' %>
			  </p>
        <p class="form-submit">
          <%= f.submit "Post Comment", :id => "submit" %>
				</p>
      <% end %>
      </div>
      </div>
      </div>
  <% end %>
    <div class="sidebar">
      <%= render :partial => "/blog/shared/categories" %>
      <%= render :partial => "/blog/shared/tags" %>
      <%= render :partial => "/blog/shared/rss_feed" %>
      <%= blog_archive_list %>
    </div>
    <div class="clear"></div>
  </div>
</div>

<%= render :partial => "/shared/content_page", :locals => { :remove_automatic_sections => true }  %>

<% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
<% content_for :before_javascript_libraries, jquery_include_tags(:jquery_ui => false) %>
<% content_for :javascripts do %>
  <%# enable AJAX'd post nav at your own risk until html5 history API implemented. %>
  <%#= javascript_include_tag('refinerycms-blog') %>
  <script src="http://w.sharethis.com/button/buttons.js"></script>
  <script>stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});</script>
<% end if BlogPost::ShareThis.enabled? %>
