#footer
  .inner.three
  
    .section
      %h3 #{RefinerySetting.get('site_name')}
      %ul.menu
        - @menu_pages.roots.each do |menu|
          %li
            = link_to menu.title, menu.url
  
    / START SOCIALS
    .section
      %h3 Socials
      %ul.menu
        %li
          = link_to 'Subscribe feed', news_items_url(:format => 'rss')
        - if RefinerySetting.get('facebook_link')
          %li
            = link_to 'Our Facebook Page', RefinerySetting.get('twitter_link')
        - if RefinerySetting.get('twitter_link')
          %li
            = link_to 'Follow us on twitter', RefinerySetting.get('twitter_link')
    / END SOCIALS
    / START GET IN TOUCH
    .section.last
      %h3 Get in touch
      .textwidget
        %address
          = RefinerySetting.get('contact_address_1')
          %br/
          = RefinerySetting.get('contact_address_2')
          %br/
          - if RefinerySetting.get('phone')
            = succeed ":" do
              %strong Phone
            = RefinerySetting.get('phone')
          %br/
        %a.contact{:href => "/contact"}
          %strong Have a question?
          %br/
          %span Contact us
    / END GET IN TOUCH
    .clear
/ END FOOTER
/ START COPYRIGHT
%p#copyright
  Copyright 2010 - Bolder Theme, theme by
  %a{:href => "http://www.yourinspirationweb.com/en"} Your Inspiration Web
  | purchase it on
  %a{:href => "http://themeforest.net/?ref=Sara_p"} Theme Forest
/ END COPYRIGHT

:javascript
  Cufon.now();
  
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25945574-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
