<div id="content">
  <div class="inner"> 
  	<div class="text right">
			<h2 class="title-page"><%= @news_item.title %></h2>                    
      <small><%= t('.published') %> <%= l(@news_item.publish_date, :format => :long) %></small>
			<p>
			  <%= @news_item.body.html_safe %>
			</p>
  	</div>
    <%= render(:partial => 'recent_posts') %>
    <div class="clear"></div>
  </div>
</div>
