<div id="content">
  <div class="inner">                 
	  <div class="text">
      <h2 class="title-page">Contact</h2>
			<p>
			
			</p>
			<div id="usermessagea"></div>

      <%= form_for @inquiry, :html => {:class=>"form-contact", :id=>"form-contact"} do |f| %>
        <%= render :partial => "/shared/admin/error_messages",
                   :locals => {
                     :object => @inquiry,
                     :include_object_name => true
                   } %>
               
        <ol class="cf-ol">
		    <li>
			    <%= f.required_label :name %>
			    <%= f.text_field :name, :class => "required" %> 
			    <span class="reqtxt">(required)</span>
		    </li>
		    <li>
			    <%= f.required_label :email %>
			    <%= f.text_field :email, :class => "required" %> 
			    <span class="reqtxt">(required)</span>
		    </li>
		    <li>
			    <%= f.label :phone %>
			    <%= f.text_field :phone %> 
		    </li>
		    <li>
			    <%= f.required_label :message %>
			    <%= f.text_area :message, :rows => 8, :cols => 30, :class => "area" %>
			    <span class="reqtxt">(required)</span>
		    </li>
        <p class="cf-sb">
          <%= f.submit "Send", :class => "sendbutton" %>
		    </p>
      <% end %>
    </div>
    <div class="sidebar">     
		  <div class="widget">
        <h2>Get in touch</h2>
        <ul>
            <% if RefinerySetting.get('phone') %>
              <li id="phone-icon"><strong>CALL US:</strong><%= RefinerySetting.get('phone') %></li>
            <% end %>
            <% if RefinerySetting.get('fax') %>
              <li id="fax-icon"><strong>FAX US:</strong><%= RefinerySetting.get('fax') %></li>
            <% end %>
        </ul>
      </div>                        
      <div class="clear"></div>
      <div class="widget">
        <h2>Social</h2>
        <% if RefinerySetting.get('facebook_link') %>
          <%= link_to "facebook", RefinerySetting.get('facebook_link'), :class => "socials facebook", :title => "Facebook" %>
        <% end %>
        <%= link_to "rss", news_items_url(:format => 'rss'), :class => "socials rss", :title => "RSS" %>
        <% if RefinerySetting.get('twitter_link') %>
          <%= link_to "twitter", RefinerySetting.get('twitter_link'), :class => "socials twitter", :title => "Twitter" %>
        <% end %>
        <% if RefinerySetting.get('youtube_link') %>
          <%= link_to "youtube", RefinerySetting.get('youtube_link'), :class => "socials youtube", :title => "Youtube" %>
        <% end %>
        <% if RefinerySetting.get('yahoo_link') %>
          <%= link_to "yahoo", RefinerySetting.get('yahoo_link'), :class => "socials yahoo", :title => "Yahoo" %>
        <% end %>
        <% if RefinerySetting.get('vimeo_link') %>
          <%= link_to "vimeo", RefinerySetting.get('vimeo_link'), :class => "socials vimeo", :title => "Vimeo" %>
        <% end %>
        <% if RefinerySetting.get('flickr_link') %>
          <%= link_to "flickr", RefinerySetting.get('flickr_link'), :class => "socials flickr", :title => "Flickr" %>
        <% end %>
        <% if RefinerySetting.get('blogger_link') %>
          <%= link_to "blogger", RefinerySetting.get('blogger_link'), :class => "socials blogger", :title => "Blogger" %>
        <% end %>
        <div class="clear"></div> 
      </div>                                    
      <div class="clear"></div>
      <div class="widget">
        <h2>Find Us</h2>
        <address>
          <%= RefinerySetting.get('contact_address_1') %><br>
	  		  <%= RefinerySetting.get('contact_address_2') %>
			  </address>     
      </div>
	  </div>
    <div class="clear"></div>
  </div>
</div>
